<div class="m-auto my-5" style="width: 400px;">
    @if(success){
    <div class="alert alert-success text-center">
        A verification code has been sent to your email
    </div>
    }
    @if(errorMessage){
    <div class="alert alert-danger text-center">
        {{ errorMessage }}
    </div>
    }
    <div class="card text-center  ">
        <div class="card-header h5 text-white ">Password Reset</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Enter your email address and we'll send you an email with instructions to reset your password.
            </p>
            <form [formGroup]="resetPassword" (ngSubmit)="handleReset()" novalidate data-mdb-input-init
                class="form-outline">
                <div class="form-floating mb-2">
                    <input type="text" name="otp" class="form-control  " id="floatingOtp" placeholder="otp"
                        formControlName="otp" />
                    <label for="floatingOtp">Verification code</label>
                    @if(resetPassword.controls['otp'].touched && resetPassword.controls['otp'].invalid){
                    @if (resetPassword.controls['otp'].errors?.['required']){
                    <p class="text-danger">* Verification code is required</p>
                    }
                    @if ( resetPassword.controls['otp'].errors?.['maxlength']){
                    <p class="text-danger">* Verification code consists of 6 numbers</p>
                    }
                    @if ( resetPassword.controls['otp'].errors?.['minlength']){
                    <p class="text-danger">* Verification code consists of 6 numbers</p>
                    }
                    }
                </div>
                <div class="form-floating mb-2">
                    <input type="text" name="email" class="form-control  " id="floatingEmail" placeholder="email"
                        formControlName="email" />
                    <label for="floatingEmail">Email</label>
                    @if(resetPassword.controls['email'].touched && resetPassword.controls['email'].invalid){
                    @if (resetPassword.controls['email'].errors?.['required']){
                    <p class="text-danger">* Email is required</p>
                    }
                    @if (resetPassword.controls['email'].errors?.['email']){
                    <p class="text-danger">* Please enter a valid email</p>
                    }
                    }
                </div>
                <div class="form-floating mb-2">
                    <input type="password" name="password" class="form-control  " id="floatingPassword"
                        placeholder="password" formControlName="password" />
                    <label for="floatingPassword">New password</label>
                    @if(resetPassword.controls['password'].touched &&resetPassword.controls['password'].invalid){
                    @if (resetPassword.controls['password'].errors?.['pattern']){
                    <p class="text-danger">* Password must contain at least 8 characters, including uppercase,
                        lowercase, numbers,
                        and special cracters ($!%*?&)</p>
                    } @else if (resetPassword.controls['password'].errors?.['required']){
                    <p class="text-danger">* Password is required</p>
                    }
                    }
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingRePassword" placeholder="Confirm Password"
                        name="password_confirmation" formControlName="password_confirmation" />
                    <label for="floatingPassword">Confirm password</label>
                    @if(resetPassword.controls['password_confirmation'].touched ){
                    @if ( resetPassword.controls['password_confirmation'].invalid &&
                    resetPassword.controls['password_confirmation'].errors?.['required']){
                    <p class="text-danger">* Password confirmation is required</p>
                    }
                    @else if (resetPassword.errors?.['PasswordNoMatch']){
                    <p class="text-danger">* Passwords don't match</p>
                    }
                    }
                </div>
                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn  w-100">Reset
                    password</button>
            </form>
            <div class="d-flex justify-content-between mt-4">
                <a class="" [routerLink]="'/login'">Login</a>
                <a class="" [routerLink]="'/register'">Register</a>
            </div>
        </div>
    </div>
</div>