<section class="row vision-section d-flex justify-content-center py-5">
  <div class=" col-10 col-md-4 vision-leftside">
    <p>
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, possimus
      accusamus alias sapiente laudantium id illum hic natus. Incidunt fugiat ab
      magnam, fugit tenetur quae? Officia quisquam autem a officiis."
    </p>
    <p>Lauren Pearce, Science Doctor</p>
  </div>

  <div class=" col-10  col-md-4 vision-rightside">
    <img class="d-none d-md-block" src="assets/img/pink.png" alt="" />
    <h1>Our vision is to improve lives through ABCDE education</h1>
    <p>
      We are dedicated to empowering medicians with the skills and knowledge to
      thrive through effective teaching and learning.
    </p>
  </div>
</section>
