<section id="about" class="about section">

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
        <img src="../../../assets/img/Pi7_Image_passport-stethoscope-toy-plane.jpg" class="img-fluid" alt="">
      </div>

      <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
        <h3>Our vision is to improve lives through ABCDE education</h3>
        <p class="fst-italic">
          To build and foster a network of medical professionals in the United States and beyond and provide the educational, networking, and professional services they need.
        </p>
        <ul>
          <li><i class="bi bi-check-circle"></i> <span>Provide medical training opportunities to our members.</span></li>
          <li><i class="bi bi-check-circle"></i> <span>support dignified medical care to patients in need.</span></li>
          <li><i class="bi bi-check-circle"></i> <span>Create activities to promote and foster community spirit.</span></li>
        </ul>
        <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
      </div>

    </div>

  </div>

</section>