@if(!isAdmin){
<header id="header" class="header d-flex align-items-center sticky-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="mobile-nav-toggle d-xl-none bi bi-list"></span>
    </button>

    <a class="logo d-flex align-items-center me-auto" routerLink="/">
      <img src="assets/img/logo-png-black.png" alt="ABCDE Logo" class="abcde" />
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <!-- <li><a href="#" class="active">Home</a></li> -->
        <li><a [routerLink]="['/about']">About</a></li>
        <li><a [routerLink]="['/course']">Courses</a></li>
        <!-- <li><a href="">Trainers</a></li> -->
        <li><a [routerLink]="['/events']">Events</a></li>
        <!-- <li><a [routerLink]="['/membership']">Membership</a></li> -->
        <li><a [routerLink]="['/support-us']">Support Us</a></li>
        <li><a [routerLink]="['/contact-us']">Contact</a></li>
        @if(!user){
        <li class="btn-getstarted dropdown">
          <a class="p-0 text-white" href="#"><span>Membership</span> <i
              class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a [routerLink]="['/register']">Become a member</a></li>
            <li><a [routerLink]="['/login']">Login</a></li>

          </ul>
        </li>
        }

        @if(user){

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">

            <img src="assets/img{{ user.avatar }}" alt="Profile" class="profile-img rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ user.fname +' '+ user.lname}}</span>
          </a>

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">


            <li>
              <a class="dropdown-item d-flex align-items-center" [routerLink]="['/profile']">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" (click)="ngOnDestroy()">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul>
        </li>
        }
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>

    </nav>

    <!-- @if(!user){
    <a class="btn-getstarted" [routerLink]="['/login']">Get Started</a>
    } -->
  </div>
</header>

}