<nav class="my-nav navbar navbar-expand-lg fixed-top">
  <div class="container w-90">
    <a class="navbar-brand" routerLink="/">
      <img
        src="assets/img/logo-png-black.png"
        alt="ABCDE Logo"
        style="width: 100px"
        class="rounded-pill"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mb-lg-0 align-items-center">
        <li class="link-space nav-item">
          <a href="" class="underline-link nav-link">Home</a>
        </li>
        <li class="link-space nav-item">
          <a href="" class="underline-link nav-link">Education</a>
        </li>
        <!-- <li class="nav-item"><a href="" class="nav-link">Training</a></li> -->
        <!-- <li class="nav-item"><a href="" class="nav-link">Support</a></li> -->
        <li class="link-space nav-item">
          <a href="" class="underline-link nav-link">Social Activities</a>
        </li>
        <li class="link-space nav-item">
          <a href="" class="underline-link nav-link">Support Us</a>
        </li>
        <li class="link-space nav-item">
          <a href="" class="underline-link nav-link">Contact Us</a>
        </li>
        <li class="link-space nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Membership
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" [routerLink]="'/register'"
                >Become a member</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="'/login'">Login/renew</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div
      class="collapse navbar-collapse justify-content-center flex-grow-0"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mb-lg-0 align-items-center">
        <li class="nav-item">
          <a href="" class="nav-fontawesome nav-link" title="Profile"
            ><i class="far fa-user"></i
          ></a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-fontawesome nav-link" title="Favourite"
            ><i class="fa-regular fa-heart"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
