button[type="submit"] {
    background-color:var(--primary-color);
}
button[type="submit"]:focus {
    background-color:var(--primary-color);
}
button:hover {
    background-color:rgba(var(--accent-color-rgb), 0.85);
    border-color: rgba(var(--accent-color-rgb), 0.85);
}
a {
    color: var(--primary-color);
}
.form-check-input:checked {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}
/**
*
*
*/
