<app-page-title title="Support Us"
  description="Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem."
  path="Support Us">
</app-page-title>

<section id="main-container" class="main-container">
  <div class="container">

    <div class="row">
      <div class="col-lg-8">
          <div class="item">
            <img class="img-fluid" src="images/projects/project5.jpg" alt="project-image" />
          </div>

          <div class="entry-header">
            <h2 class="entry-title">xthk ohkapgdx vvgkoop</h2>
          </div><!-- header end -->

          <div class="entry-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti tempora maxime in maiores laborum aliquam, architecto perferendis numquam distinctio dolores officiis odio blanditiis reiciendis vitae esse quam, ipsa consequuntur porro.</p>
          </div>
      </div><!-- Slider col end -->

      <div class="col-lg-4 mt-5 mt-lg-0">

        <h3 class="column-title mrt-0">Capital Teltway Building</h3>
        <p>Morbi turpis nisl, auctor ut nisl vel, pellentesque euismod nunc nunc accumsan imperdiet.</p>

        <ul class="project-info list-unstyled">
          <li>
            <p class="project-info-label">Client</p>
            <p class="project-info-content">Pransbay Powers Authority</p>
          </li>
          <li>
            <p class="project-info-label">Architect</p>
            <p class="project-info-content">Dlarke Pelli Incorp</p>
          </li>
          <li>
            <p class="project-info-label">Location</p>
            <p class="project-info-content">McLean, VA</p>
          </li>
          <li>
            <p class="project-info-label">Size</p>
            <p class="project-info-content">65,000 SF</p>
          </li>
          <li>
            <p class="project-info-label">Year Completed</p>
            <p class="project-info-content">2015</p>
          </li>
          <li>
            <p class="project-info-label">Categories</p>
            <p class="project-info-content">Commercial, Interiors</p>
          </li>
          <li>
            <p class="project-link">
              <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
              <!-- <a class="btn btn-primary" target="_blank" href="#">View Project</a> -->
            </p>
          </li>
        </ul>

      </div><!-- Content col end -->

    </div><!-- Row end -->

  </div><!-- Conatiner end -->
</section><!-- Main container end -->