@if(!isLoginPage && !isRegisterPage) {
<div class="stay-updated-start container-fluid bg-light py-5">
  <h2 class="text-center">Stay Updated</h2>
  <form class="form-floating row g-4 w-90 m-auto">
    <div class="col-md-5">
      <div class="form-floating">
        <input type="email" class="form-control" id="email" name="email" />
        <label for="email" class="form-label">Email address</label>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-floating">
        <input type="text" class="form-control" id="zip_code" name="zip_code" />
        <label for="zip_code" class="form-label">Zip code</label>
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn text-white p-3 w-100">Subscribe</button>
    </div>
  </form>
</div>
}
