.stay-updated-start{
    scroll-margin-top: 66px;  
}

button {
    border: none;
    background-color: var(--accent-color);
    font-weight: 500;
    /* font-size: 15px; */
  }
  
  button:hover {
    background: rgba(var(--accent-color-rgb), 0.8);
  }