<div class="row">
  <div class="col col-10 col-md-6  mt-5 search-box ">
    <span><i class="fa-solid fa-magnifying-glass"></i></span>
    <input type="text" placeholder="Search course..." />
    <button>Search</button>
  </div>
</div>

<!-- <br />
<div class="search-box my-5 d-flex flex-column flex-md-row w-sm-100">
  <div class="d-flex justify-content-evenly">
    <span><i class="fa-solid fa-magnifying-glass"></i></span>
    <input class="text-center" type="text" placeholder="Search course..." />
  </div>
  <button>Search</button>
</div> -->
