<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="heading">
        <div class="container">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-lg-8">
                    <h1 class="">Events<br></h1>
                    <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint
                        voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi
                        ratione sint. Sit quaerat ipsum dolorem.</p>
                </div>
            </div>
        </div>
    </div>
    <nav class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="index.html">Home</a></li>
                <li class="current">Events<br></li>
            </ol>
        </div>
    </nav>
</div><!-- End Page Title -->

<section id="main-container" class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="shuffle-btn-group">
          <span class="active" (click)="getEvents()">Show All</span>
          @for(tag of tags; track $index){
            <span (click)="filterByTag(tag.name)">{{tag.name}}</span>
          }
        </div>
      </div>
    </div>
  </div>
</section><!-- event filter end -->

<section id="events" class="events section">

  <div class="container" data-aos="fade-up">

    <div class="row">
      @for(event of events; track $index){
      <div class="col-md-6 d-flex align-items-stretch">
        <a class="card" [routerLink]="'/event/' + event.id">
          <div class="card-img">
            <img [src]="'http://localhost:8000' + event.image" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="">{{event.name}}</a></h5>
            <p class="fst-italic text-center">{{event.start_date | date: 'MMM d, y, h:mm a'}}</p>
            <p class="card-text">{{event["short description"]}}</p>
          </div>
        </a>
      </div>
    }
    </div>

  </div>

</section>
