<section class="row justify-content-center align-items-center">
    <div class="col-lg-8 col-11 d-flex justify-content-center align-items-center flex-column gap-2">
        <h1 class="text-center">What vibe do you want for your logo?</h1>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, commodi aliquid pariatur voluptatem fugiat non blanditiis tempore facilis iusto libero corporis inventore in accusantium architecto rem, eum laudantium molestias sit.</p>
        <ul class="d-flex justify-content-center align-items-center list-unstyled gap-3 my-4">
            @for(tag of tags; track $index){
                <li class="chips" (click)="addRemoveTag($event, tag.id, $index)">{{tag.name}}</li>
            }
        </ul>
        <button class="read-more" (click)="addUserTags()"><span>Continue</span><i class="bi bi-arrow-right"></i></button>
    </div>
</section>