<app-search></app-search>
<section class="row vision-section">
    <div class="col-10 col-md-4 vision-rightside">
        <img class="d-none d-md-block" src="assets/img/blue.png" alt="" />
        <h1>Leading professional development courses for doctors</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum hic et quis dolor sint, similique voluptates eveniet voluptatibus sit nobis ex eaque officia minus vitae odit consectetur quibusdam pariatur molestiae?
        </p>
    </div>
    <div class="col-10 col-md-4 vision-leftside">
        <img src="assets/img/pexels-mart-production-7605973.jpg" alt="courses">
    </div>
</section>
<app-category></app-category>
<app-card></app-card>