<app-page-title title="Course"
  description="Explore our extensive range of specialized training courses designed to equip Egyptian doctors with the latest medical knowledge and skills. Enhance your expertise and advance your career through our comprehensive curriculum delivered by renowned experts in the field."
  path="Course">
</app-page-title>

<app-search (searchCourseName)="searchCourse($event)"></app-search>
<app-category></app-category>
<app-card [courses]="courses" [category]="category"></app-card>