<h2 class="text-center my-5">Upcoming events</h2>
<div class="container ">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    <div class="col">
      <a href="your_link_here" class="card-link text-decoration-none">
        <div class="card text-decoration-none">
          <img
            src="https://imgur.com/qzZIOK9.png"
            class="card-img-top"
            alt="Apple"
          />
          <div class="card-body">
            <h5 class="card-title">Apple</h5>
            <p class="card-text">10/06/20 -- Remote</p>
            <p class="card-text">Apple Worldwide Developer conference 2020</p>
            <button class="btn btn-primary w-100 mt-2"><span>Book a seat</span></button>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="your_link_here" class="card-link text-decoration-none">
        <div class="card text-decoration-none">
          <img
            src="https://imgur.com/qzZIOK9.png"
            class="card-img-top"
            alt="Apple"
          />
          <div class="card-body">
            <h5 class="card-title">Apple</h5>
            <p class="card-text">10/06/20 -- Remote</p>
            <p class="card-text">Apple Worldwide Developer conference 2020</p>
            <button class="btn btn-primary w-100 mt-2"><span>Book a seat</span></button>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="your_link_here" class="card-link text-decoration-none">
        <div class="card text-decoration-none">
          <img
            src="https://imgur.com/qzZIOK9.png"
            class="card-img-top"
            alt="Apple"
          />
          <div class="card-body">
            <h5 class="card-title">Apple</h5>
            <p class="card-text">10/06/20 -- Remote</p>
            <p class="card-text">Apple Worldwide Developer conference 2020</p>
            <button class="btn btn-primary w-100 mt-2"><span>Book a seat</span></button>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="your_link_here" class="card-link text-decoration-none">
        <div class="card text-decoration-none">
          <img
            src="https://imgur.com/qzZIOK9.png"
            class="card-img-top"
            alt="Apple"
          />
          <div class="card-body">
            <h5 class="card-title">Apple</h5>
            <p class="card-text">10/06/20 -- Remote</p>
            <p class="card-text">Apple Worldwide Developer conference 2020</p>
            <button class="btn btn-primary w-100 mt-2"><span>Book a seat</span></button>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="your_link_here" class="card-link text-decoration-none">
        <div class="card text-decoration-none">
          <img
            src="https://imgur.com/qzZIOK9.png"
            class="card-img-top"
            alt="Apple"
          />
          <div class="card-body">
            <h5 class="card-title">Apple</h5>
            <p class="card-text">10/06/20 -- Remote</p>
            <p class="card-text">Apple Worldwide Developer conference 2020</p>
            <button class="btn btn-primary w-100 mt-2"><span>Book a seat</span></button>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
