<section id="events" class="events section">
  <h3 class="section-heading text-center">Upcoming Events</h3>

  <div class="container" data-aos="fade-up">

    <div class="row">
      @for(event of events; track $index){
      <div class="col-md-6 d-flex align-items-stretch">
        <a class="card" [routerLink]="'event/' + event.id">
          <div class="card-img">
            <img [src]="'http://localhost:8000' + event.image" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="">{{event.name}}</a></h5>
            <p class="fst-italic text-center">{{event.start_date | date: 'MMM d, y, h:mm a'}}</p>
            <p class="card-text">{{event["short description"]}}</p>
          </div>
        </a>
      </div>
    }
    </div>

  </div>

</section>