<!-- <div class="container">
  <h1>Stay Updated</h1>
  <form class="d-flex">
    <div class="mb-3">
      <label for="inputEmail" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="inputEmail"
        placeholder="name@example.com"
      />
    </div>
    <div class="mb-3">
      <label for="inputZip" class="form-label">Zip code</label>
      <input
        type="text"
        class="form-control"
        id="inputZip"
        placeholder="12345"
      />
    </div>
    <button type="submit" class="btn btn-primary py-1">Submit</button>
  </form>
</div> -->



<h1>form works</h1>