@if(!isAdmin){

<footer id="footer" class="footer position-relative">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        
        <div class="footer-contact">
          <p>A108 Adam Street</p>
          <p>New York, NY 535022</p>
          <p class="mt-3"><strong>Phone:</strong> <span> +1 5589 55488 55</span></p>
          <p><strong>Email:</strong> <span> abcde&#64;gmail.com</span></p>
        </div>
        <div class="social-links d-flex mt-4">
          <a href="https://api.whatsapp.com/send?phone=201091788466&text=%20"><i class="fa-brands fa-whatsapp"></i></a>
          <a href="https://www.facebook.com/techno.square.pts"><i class="fa-brands fa-facebook-f"></i></a>
          <a href=""><i class="fa-brands fa-twitter"></i></a>
          <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a [routerLink]="['/about']">About Us</a></li>
          <li><a [routerLink]="['/support-us']">Support Us</a></li>
          <li><a [routerLink]="['/contact-us']">Contact Us</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Our Services</h4>
        <ul>
          <li><a [routerLink]="['/course']">Courses</a></li>
          <li><a [routerLink]="['/events']">Events</a></li>
          <li><a [routerLink]="['/membership']">Membership</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-12 footer-newsletter">
        <h4>Our Newsletter</h4>
        <p>Subscribe to our newsletter and receive the latest news about our events and courses!</p>
        <form [formGroup]="form" class="php-email-form" (ngSubmit)="send($event)">
          <div class="newsletter-form">
            <input type="email" name="email" formControlName="email">
            <input type="submit" value="Subscribe">
          </div>
          <div class="sent-message">Your subscription request has been sent. Thank you!</div>
        </form>
      </div>

    </div>
  </div>

  <div class="copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1">ABCDE</strong> <span>All Rights Reserved</span></p>
  </div>

</footer>
}