<div class=" m-auto my-5" style="width: 400px;">
    @if (errorMessage){
    <div class="alert alert-danger text-center">
        {{ errorMessage }}
    </div>
    }
    <div class="card text-center ">
        <div class="card-header h5 text-white ">Password Reset</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Enter your email address and we'll send you an email with a verification code to reset your password.
            </p>
            <form [formGroup]="forgotPassword" (ngSubmit)="handleForgot()" novalidate data-mdb-input-init
                class="form-outline">
                <input type="email" id="typeEmail" class="form-control my-3" formControlName="email" />
                <label class="form-label" for="typeEmail">Enter your email</label>
                @if(forgotPassword.controls['email'].touched && forgotPassword.controls['email'].invalid){
                @if (forgotPassword.controls['email'].errors?.['email']){
                <p class="text-danger">* Enter a valid email</p>
                } @else if (forgotPassword.controls['email'].errors?.['required']){
                <p class="text-danger">* Email is required</p>
                }
                }
                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn  w-100">Reset
                    password</button>
            </form>
            <div class="d-flex justify-content-between mt-4">
                <a class="" [routerLink]="'/login'">Login</a>
                <a class="" [routerLink]="'/register'">Register</a>
            </div>
        </div>
    </div>
</div>