<div class="container">
    <form [formGroup]="form" (ngSubmit)="updateCourse()">
        <p class="card-title">Update {{ selectedCourse.name }}</p>
        <hr/>
        @if(errorMessage){
            <div class="alert alert-danger text-center">{{ errorMessage }}</div>
        }
        @if(successMessage){
            <div class="alert alert-success text-center">{{successMessage}}</div>
        }
        <div class="card p-3 my-3">
            <div class="row mb-3">
                <label class="col-md-4 col-lg-3 col-form-label">Course Name</label>
                <div class="col-md-8 col-lg-9">
                    <input type="text" class="form-control" formControlName="course_name">
                    @if(form.controls.course_name.touched && form.controls.course_name.errors){
                        <span class="text-danger">Course name is required *</span>
                    }
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-4 col-lg-3 col-form-label">description</label>
                <div class="col-md-8 col-lg-9">
                    <input type="text" class="form-control" formControlName="description">
                    @if(form.controls.description.touched && form.controls.description.errors){
                        <span class="text-danger">Description is required *</span>
                    }
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4 col-lg-3 ">
                    <label class="col-form-label">Image</label>
                    <img [src]="'http://localhost:8000' + selectedCourse.image" style="margin-left: 20px; width: 50px;">
                </div>
                <div class="col-md-8 col-lg-9">
                    <input type="file" accept="image/*" class="form-control" (change)="updateCourseImage($event)">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-4 col-lg-3 col-form-label">category</label>
                <div class="col-md-8 col-lg-9">
                    <select class="form-select">
                        @for(category of categories; track $index){
                        <option [value]="category.id">{{category.name}}</option>
                        }
                    </select>
                </div>

            </div>


            <div class="row mb-3">
                <label class="col-md-4 col-lg-3 col-form-label">instructor</label>
                <div class="col-md-8 col-lg-9">
                    <input type="text" class="form-control" formControlName="instructor">
                </div>
            </div>


            <div class="row mb-3">
                <label class="col-md-4 col-lg-3 col-form-label">course_title</label>
                <div class="col-md-8 col-lg-9">
                    <input type="text" class="form-control" formControlName="course_title">
                    @if(form.controls.course_title.touched && form.controls.course_title.errors){
                        <span class="text-danger">Course title is required *</span>
                    }
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-4 col-lg-3 col-form-label">Course video</label>
                <div class="col-md-8 col-lg-9">
                    <input type="text" class="form-control" formControlName="video">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-4 col-lg-3 col-form-label">label</label>
                <div class="col-md-8 col-lg-9">
                    <input type="text" class="form-control" formControlName="label">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-4 col-lg-3 col-form-label">duration</label>
                <div class="col-md-8 col-lg-9">
                    <input type="text" class="form-control" formControlName="duration">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-4 col-lg-3 col-form-label">resources</label>
                <div class="col-md-8 col-lg-9">
                    <input type="text" class="form-control" formControlName="resources">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-4 col-lg-3 col-form-label">certificate</label>
                <div class="col-md-8 col-lg-9">
                    <input type="text" class="form-control" formControlName="certificate">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-4 col-lg-3 col-form-label">prerequisites</label>
                <div class="col-md-8 col-lg-9">
                    <input type="text" class="form-control" formControlName="prerequisites">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-4 col-lg-3 col-form-label">featured</label>
                <div class="col-md-8 col-lg-9">
                    <input type="text" class="form-control" formControlName="featured">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-4 col-lg-3 col-form-label">status</label>
                <div class="col-md-8 col-lg-9">
                    <select class="form-select" formControlName="status">
                        <option value="inactive">inactive</option>
                        <option value="active">active</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-4 col-lg-3 col-form-label">price</label>
                <div class="col-md-8 col-lg-9">
                    <input type="number" class="form-control" formControlName="price">
                    @if(form.controls.price.touched && form.controls.price.errors){
                        <span class="text-danger">Price can't be - value</span>
                    }
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Update</button>
        </div>

    </form>
</div>
