<ngb-carousel
  #carousel
  [interval]="5000"
  [pauseOnHover]="pauseOnHover"
  [pauseOnFocus]="pauseOnFocus"
  (slide)="onSlide($event)"
>
  @for (img of images; track img; let i = $index) {
  <ng-template ngbSlide>
    <!-- @if (i == 0) {
      <div class="caption">
        <p>Enhance Your Skills</p>
        <span>with best online courses</span>
        <button class="carousel-btn">Get Started <i class="fa-solid fa-arrow-right ms-1"></i></button>
      </div>
    } -->
    <a
      href="https://www.google.fr/?q=Number+{{ i + 1 }}"
      target="_blank"
      rel="nofollow noopener noreferrer"
    >
      <div class="picsum-img-wrapper">
        <img [src]="img" alt="My image {{ i + 1 }} description" class="w-100 "  />
      </div>
    </a>
  </ng-template>
  }
</ngb-carousel>
