<!-- <div class="background-image"></div> -->
<section class="home-section">
    <div class="w-90 section-container">
        <div class="home-section-leftside">
            <div class="feature first-feature">
                <span>Education</span>
                <div>You are gaining a complete access to a full library. You will never wonder how to tackle the next phase of your blog.</div>
            </div>

            <div class="feature second-feature">
                <span>Support</span>
                <div>A community that has your back. You will face problems, the community will fix them for you.</div>
            </div>

            <div class="feature third-feature">
                <span>Training</span>
                <div>Training to give you the newest techniques. </div>
            </div>
        </div>
        
        <div class=" home-section-rightside">
            <span class="stuff"><i class="fa-solid fa-book-open me-4"></i>Know Your Stuff</span>
            <h3 class="title"><span>Access to library of courses </span>to give you the newest techniques</h3>
            <p>
                You're gaining access to not just one course, but a full library, access to all of the content right from day 1. You can binge watch our vlogs, courses, and other videos, as well as read up on our discussions in the community.
            </p>
            <div class="icons-container">
                <div>
                    <div><i class="fa-solid fa-book-open more"></i></div>
                    <div>
                        <h5 class="more">More</h5>
                        <span class="second">Courses</span>
                        <span class="third">New every month</span>
                    </div>
                </div>

                <div>
                    <div><i class="fa-solid fa-chalkboard-user training"></i></div>
                    <div>
                        <h5 class="training">Training</h5>
                        <span class="second">Sessions</span>
                        <span class="third">Every week</span>
                    </div>
                </div>

                <div>
                    <div><i class="fa-solid fa-user-group support"></i></div>
                    <!-- <div><i class="fa-solid fa-people-pulling"></i></div> -->
                    <div>
                        <h5 class="support">Support</h5>
                        <span class="second">Community</span>
                        <span class="third">With experienced users</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
