<app-page-title title="Membership"
  description="Choose the membership plan that fits your needs. Our plans are designed to support medical students, graduates, residents, fellows, and attending consultants at every stage of their career journey."
  path="Membership">
</app-page-title>


<section id="pricing" class="pricing section">

    <div class="container">

      <div class="row gy-3">

        <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="pricing-item featured">
            <h3>Medical Student / Graduate</h3>
            <h4><sup>$</sup>20<span> / year</span></h4>
            <ul class="payCard">
              <li>Access all courses</li>
              <li>Attent events</li>
            </ul>
            <div id="paypal-button-container-20"></div>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="pricing-item featured">
            <h3>Resident / Fellow</h3>
            <h4><sup>$</sup>30<span> / year</span></h4>
            <ul class="payCard">
              <li>Access all courses</li>
              <li>Attent events</li>
              <li>Support in research</li>

            </ul>
            <div id="paypal-button-container-30"></div>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="400">
          <div class="pricing-item featured">
            <h3>Attending</h3>
            <h4><sup>$</sup>70<span> / year</span></h4>
            <ul class="payCard"> 
              <li>Access all courses</li>
              <li>Attent events</li>
              <li>Support in research</li>
              <li>Host events</li>
            </ul>
            <div id="paypal-button-container-70"></div>
          </div>
        </div><!-- End Pricing Item -->



      </div>

    </div>

  </section><!-- /Pricing Section -->
