<app-page-title title="Membership"
  description="Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem."
  path="Membership">
</app-page-title>


<section id="pricing" class="pricing section">

    <div class="container">

      <div class="row gy-3">

        <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="pricing-item">
            <h3>Medical Student / Graduate</h3>
            <h4><sup>$</sup>20<span> / year</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li class="">Pharetra massa</li>
              <li class="">Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="pricing-item featured">
            <h3>Resident / Fellow</h3>
            <h4><sup>$</sup>30<span> / year</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li class="">Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="400">
          <div class="pricing-item">
            <h3>Attending</h3>
            <h4><sup>$</sup>70<span> / year</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li>Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div><!-- End Pricing Item -->


      </div>

    </div>

  </section><!-- /Pricing Section -->
